[Unit]
Description=Mount Persistent Tower Data Partition
Before=tower-kiosk.service

[Mount]
What=LABEL=TOWER_DATA
Where=/mnt/tower_data
Type=ext4
Options=defaults,rw,noatime

[Install]
WantedBy=multi-user.target
